<md-toolbar class="md-hue-2" class="layout-column flex">
    <md-button hide-gt-sm ng-click="toggleSideNav()" class="md-icon-button">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>MLB Team Stats Comparison</h1>
</md-toolbar>

<div class="layout-row flex" layout="row">

    <md-content class="scrollable-nav-content" flex>
      <md-list flex>
        <mid-list-item>
          <div>
          Team {{ vm.selectedNl.name + ' ' + vm.selectedNl.nickName }}
          </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Wins {{ vm.selectedNl.wins }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Losses {{ vm.selectedNl.losses }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Balls {{ vm.selectedNl.balls }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Hits {{ vm.selectedNl.hits }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Runs {{ vm.selectedNl.runs }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Singles {{ vm.selectedNl.singles }}
        </div>
        </md-list-item>
        <mid-list-item>
          Doubles {{ vm.selectedNl.doubles }}
        </md-list-item>
        <mid-list-item>
          <div>
          Triples {{ vm.selectedNl.triples }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          RBI {{ vm.selectedNl.rbis}}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          ERA {{ vm.selectedNl.ers }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Runs Allowed {{ vm.selectedNl.runs_allowed }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Double Plays {{ vm.selectedNl.double_plays }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Triple Plays {{ vm.selectedNl.triple_plays }}
        </div>
        </md-list-item>
      </md-list>

    </md-content>

    <md-content flex>
      <md-list flex>
        <mid-list-item>
          <div>
          Team {{ vm.selectedAl.name + ' ' + vm.selectedAl.nickName }}
          </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Wins {{ vm.selectedAl.wins }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Losses {{ vm.selectedAl.losses }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Balls {{ vm.selectedAl.balls }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Hits {{ vm.selectedAl.hits }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Runs {{ vm.selectedAl.runs }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Singles {{ vm.selectedAl.singles }}
        </div>
        </md-list-item>
        <mid-list-item>
          Doubles {{ vm.selectedAl.doubles }}
        </md-list-item>
        <mid-list-item>
          <div>
          Triples {{ vm.selectedAl.triples }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          RBI {{ vm.selectedAl.rbis}}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          ERA {{ vm.selectedAl.ers }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Runs Allowed {{ vm.selectedAl.runs_allowed }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Double Plays {{ vm.selectedAl.double_plays }}
        </div>
        </md-list-item>
        <mid-list-item>
          <div>
          Triple Plays {{ vm.selectedAl.triple_plays }}
        </div>
        </md-list-item>
      </md-list>
    </md-content>
</div>
