<md-sidenav

        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-whiteframe="4">

    <md-toolbar layout-padding >
        <h1>Teams</h1>
    </md-toolbar>

    <md-content id="nl" layout-padding >
      <md-list>
        <md-list-item ng-repeat="team in vm.nlTeamStats">
          <md-button ng-click="selectTeam(team)"
                     ng-class="{ 'selected': team === selected }">
          <md-icon md-svg-icon="{{ team.icon }}" class"avatar"></md-icon>
          {{ team.name }}
          </md-button>
      </md-list>
    </md-content>

    <md-content id="al" layout-padding >
      <md-list>
        <md-list-item ng-repeat="team in vm.alTeamStats">
          <md-button ng-click="selectTeam(team)"
                     ng-class="{ 'selected': team === selected }">
          <md-icon md-svg-icon="{{ team.icon }}" class"avatar"></md-icon>
          {{ team.name }}
          </md-button>
      </md-list>
    </md-content>
</md-sidenav>
