<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">

    <!-- Tool bar-->
    <md-toolbar layout-padding class="md-hue-2">
        <h1>Teams</h1>
    </md-toolbar>

    <!-- Top section -->
    <div >
        <h3 layout-padding>National League</h3>
        <md-divider></md-divider>
    </div>
    <md-content layout-padding>
        <md-list>
            <md-list-item ng-repeat="team in vm.nlTeamStats">
                <md-button ng-click="selectNlTeam(team)" ng-class="{ 'selected': team === selected }">
                    <md-icon md-svg-icon="{{ team.avatar }}" class"avatar"></md-icon>
                    {{ team.city }}
                </md-button>
            </md-list>
        </md-content>
        <md-divider></md-divider>

        <!-- Bottom section -->
        <div>
            <h3 layout-padding>American League</h3>
            <md-divider></md-divider>
        </div>
        <md-content layout-padding>
            <md-list>
                <md-list-item ng-repeat="team in vm.alTeamStats">
                    <md-button ng-click="selectAlTeam(team)" ng-class="{ 'selected': team === selected }">
                        <md-icon md-svg-icon="{{ team.avatar }}" class"avatar"></md-icon>
                        {{ team.city }}
                    </md-button>
                </md-list>
            </md-content>
<md-divider></md-divider>
        </md-sidenav>
