<md-bottom-sheet>
    <md-subheader>
        Choose Stats to Display
    </md-subheader>

    <!-- <div flex="100" flex-gt-sm="50" layout="column"> -->
    <div>
        <!--
            In IE, we cannot apply flex directly to <fieldset>
            @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
          -->
        <fieldset class="standard">
            <div layout="row" layout-wrap layout-align="center center" flex>
                <!-- <div flex="50"> -->
                <md-checkbox ng-model="statNames.Wins" aria-label="Checkbox 1">
                    Wins
                </md-checkbox>
                <md-checkbox ng-model="statNames.Losses" aria-label="Checkbox 1">
                    Losses
                </md-checkbox>
                <md-checkbox ng-model="statNames.Balls" aria-label="Checkbox 1">
                    Balls
                </md-checkbox>
                <md-checkbox ng-model="statNames.Hits" aria-label="Checkbox 1">
                    Hits
                </md-checkbox>
                <md-checkbox ng-model="statNames.Runs" aria-label="Checkbox 1">
                    Runs
                </md-checkbox>
                <md-checkbox ng-model="statNames.Singles" aria-label="Checkbox 1">
                    Singles
                </md-checkbox>
                <md-checkbox ng-model="statNames.Doubles" aria-label="Checkbox 1">
                    Doubles
                </md-checkbox>
                <md-checkbox ng-model="statNames.Triples" aria-label="Checkbox 1">
                    Triples
                </md-checkbox>
                <md-checkbox ng-model="statNames.RBI" aria-label="Checkbox 1">
                    RBI
                </md-checkbox>
                <md-checkbox ng-model="statNames.ERA" aria-label="Checkbox 1">
                    ERA
                </md-checkbox>
                <md-checkbox ng-model="statNames.RunsAllowed" aria-label="Checkbox 1">
                    Runs Allowed
                </md-checkbox>
                <md-checkbox ng-model="statNames.DoublePlays" aria-label="Checkbox 1">
                    Double Plays
                </md-checkbox>
                <md-checkbox ng-model="statNames.TriplePlays" aria-label="Checkbox 1">
                    Triple Plays
                </md-checkbox>
                <!-- </div> -->
            </div>
        </fieldset>
    </div>
    <!-- </div> -->

</md-bottom-sheet>
