<md-bottom-sheet>
    <md-subheader>
        Choose Stats to Display
    </md-subheader>

    <div flex="100" flex-gt-sm="15" layout="column">
        <div>
            <fieldset class="standard">
                <div layout="row" layout-wrap flex>
                    <div flex="100" ng-repeat="item in vm.statNames">
                        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                            {{ item }}
                        </md-checkbox>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

</md-bottom-sheet>
