html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}


#teamList {
  box-sizing: border-box;
  height: 100%;
}

#nl {
  background-color: orange;
}
#al {
  background-color: lightgreen;
}
